###################################################
# START ECOMMERCE ANY PRICE PRODUCT
###################################################

AnyPriceRoundUpDonationModifier:
  precision: 1
  maximum_round_up: 5
  round_up_even_if_there_is_nothing_to_round: true
  include_form_in_order_table: true

Order:
  modifiers:
    - AnyPriceRoundUpDonationModifier
###################################################
# END ECOMMERCE ANY PRICE PRODUCT
###################################################

